# OS
.DS_Store

./node_modules/
./dist/
./.idea/
./.vscode/

# Logs
*.log

# Maven
backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/.mvn/
backend/.idea/
backend/.vscode/
backend/.github/


# Node / Vite / React
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.cache/
frontend/coverage/
frontend/.env
frontend/.env.*

# IDEs
.vscode/
.idea/

# Build output (generic)
**/target/
**/dist/

# Docker
*.env


# Secrets / env files
backend/.env



# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
